{% if subpages|length > 0 or parent %}
    {% if subpages_config.style == 'ul' %}
        <ul class="subpages-list">
            {% if parent and subpages_config.prevpage %}
                <li><a href="{{ parent.url }}"> [..] </a></li>
            {% endif %}
            {% for subpage in subpages %}
                <li><a href="{{ subpage.url }}">{{ subpage.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <ol class="subpages-list"{% if parent and subpages_config.prevpage %} start="0"{% endif %}>
            {% if parent and subpages_config.prevpage %}
                <li><a href="{{ parent.url }}"> [..] </a></li>
            {% endif %}
            {% for subpage in subpages %}
                <li><a href="{{ subpage.url }}">{{ subpage.title }}</a></li>
            {% endfor %}
        </ol>
    {% endif %}
{% endif %}